<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-drag-and-drop-list</title>
    <link rel="stylesheet" href="drag-handle.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
      .row{
        display: flex;;
      }
      .col-md-6{
        flex: 1;
        margin: 20px;
      }
      li{
        height: 40px;
        line-height: 40px;
        display: flex;
      }
      .nodrag{
        flex: 1;
        display: flex;
      }
      .handle{
        flex: 1;
      }
      .name{
        flex: 5;
      }
      li.dndDragging{
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <div class="" id="example">
      <h1>Demo: handleDemo</h1>
      <div class="handleDemo">
          <div class="row">
              <div v-for="(listName, list) in lists" class="col-md-6">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">List {{listName}}</h3>
                      </div>
                      <div class="panel-body">
                        <ul v-dnd-list :dnd-list="list" :dnd-horizontal-list="false">
                            <li v-dnd-draggable v-for="item in list"
                                :dnd-draggable="item"
                                :dnd-index="$index"
                                :dnd-data="list"
                                dnd-effect-allowed="move"
                                v-class="{'selected': selected === item}"
                                >
                                <div v-dnd-nodrag class="nodrag">
                                  <div v-dnd-handle class="handle">:::</div>
                                  <div class="name">
                                      {{item.label}}
                                  </div>
                                </div>
                            </li>
                        </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <script src="http://cdn.jsdelivr.net/vue/1.0.17/vue.min.js"></script>
    <script src="../../dist/vue-drag-and-drop-list.js"></script>
    <script>
      Vue.use(DragAndDropList);
      new Vue({
        el: '#example',
        data: {
          "lists": {
            "A": [
              {
                "label": "Item A1"
              },
              {
                "label": "Item A2"
              },
              {
                "label": "Item A3"
              }
            ],
            "B": [
              {
                "label": "Item B1"
              },
              {
                "label": "Item B2"
              },
              {
                "label": "Item B3"
              }
            ]
          }
        },
        methods: {
          moved: function(list, index){
            list.splice(index, 1);
          }
        }
      })
    </script>
  </body>
</html>
